<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe68e;</i>
                    <cite>首页</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
            </li>
            <li>
                <a href="javascript:;">
                    <a onclick="xadmin.add_tab('秒杀活动','sale.html')">
                    <i class="layui-icon">&#xe756;</i>
                    <cite>秒杀活动</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
            </li>
            <li>
                <a href="javascript:;">
                    <a onclick="xadmin.add_tab('商品','goods.html')">
                    <i class="layui-icon">&#xe64a;</i>
                    <cite>商品</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
            </li>
            <li>
                <a href="javascript:;">
                    <a onclick="xadmin.add_tab('购物车','trolley.html')">
                    <i class="layui-icon">&#xe698;</i>
                    <cite>购物车</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
            </li>
            <li>
                <a href="javascript:;">
                    <a onclick="xadmin.add_tab('我的订单','orderlist.html')">
                    <i class="layui-icon">&#xe63c;</i>
                    <cite>我的订单</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>