<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe68e;</i>
                    <cite>首页</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe64a;</i>
                    <cite>商品</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('商品列表','item-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('添加商品','add-item.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加商品</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('商品分类','item-sort.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>商品分类</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('品牌管理','brand.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>品牌管理</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订单管理">&#xe723;</i>
                    <cite>订单</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('订单列表','order-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('订单设置','order-set.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>订单设置</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('退货申请处理','refund.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>退货申请处理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('退货原因设置','refund-reason.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>退货原因设置</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe653;</i>
                    <cite>营销</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('秒杀活动列表','sale-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>秒杀活动列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('广告列表','advertisement.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>广告列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="管理员管理">&#xe726;</i>
                    <cite>权限</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('用户列表','admin-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('角色管理','admin-role.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权限分类','admin-cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限分类</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权限管理','admin-rule.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>