<div class="container">
    <div class="logo">
        <a href="./index.html">淘多多后台管理</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="./login.html">安全退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/index.php/user/login/index">前台首页</a></li>
    </ul>
</div>