<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
      {include file="public/head" /}
    </head>
    
    <body>
        <div class="x-nav">
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                          <form class="layui-form" action="/index.php/admin/Main/do_add_advert"  enctype="multipart/form-data" method="post">
                            <div class="layui-form-item">
                              <label class="layui-form-label">广告位置</label>
                              <div class="layui-input-block">
                                <select name="place" lay-verify="required">
                                    <option value="">请选择</option>
                                    {volist name="list1" id="vo1"}
                                    <tbody>
                                    <tr><option value={$vo1.place}>{$vo1.place}</option></tr>
                                    </tbody>{/volist}
                                  </select>
                            </div>
                          </div>
                            <div class="layui-form-item">
                              <label class="layui-form-label">所属品牌</label>
                              <div class="layui-input-block">
                                <select name="brand" lay-verify="required">
                                  <option value="">请选择</option>
                                  {volist name="list2" id="vo2"}
                                  <tbody>
                                  <tr><option value={$vo2.name}>{$vo2.name}</option></tr>
                                  </tbody>{/volist}
                                </select>
                            </div>
                          </div>
                          <div class="layui-form-item">
                            <label class="layui-form-label">是否可见</label>
                            <div class="layui-input-block">
                              <input type="radio" name="status" value="1" title="是" checked>
                              <input type="radio" name="status" value="0" title="否" >
                            </div>
                          </div>
                            <div class="layui-form-item">
                              <label class="layui-form-label">广告图片</label>
                              <input type="file" name="image"  onchange='PreviewImage(this)' />
                              <div id="photo_info" class="photo_info"></div>
                            </div>
                          </div>
                            <div class="layui-form-item layui-form-text">
                              <label class="layui-form-label">文字信息</label>
                              <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                              </div>
                            </div>
                          </div>
                              <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                              </div>
                            </div>
                            
                          <script>
                          //Demo
                          layui.use('form', function(){
                            var form = layui.form;
                          });
                            function PreviewImage(imgFile) {
                                var filextension = imgFile.value.substring(imgFile.value
                                        .lastIndexOf("."), imgFile.value.length);
                                filextension = filextension.toLowerCase();
                                if ((filextension != '.jpg') && (filextension != '.gif')
                                        && (filextension != '.jpeg') && (filextension != '.png')
                                        && (filextension != '.bmp')) {
                                    alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                                    imgFile.focus();
                                } else {
                                    var path;
                                    if (document.all)//IE
                                    {
                                        imgFile.select();
                                        path = document.selection.createRange().text;
                                        document.getElementById("photo_info").innerHTML = "";
                                        document.getElementById("photo_info").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\""
                                                + path + "\")";//使用滤镜效果      
                                    } else//FF
                                    {
                                        path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                                        //path = imgFile.files[0].getAsDataURL();// FF 3.0
                                        document.getElementById("photo_info").innerHTML = "<img id='img1' width='120px' height='100px' src='"+path+"'/>";
                                        //document.getElementById("img1").src = path;
                                    }
                                }
                            }
                          </script>
                          </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    

</html>