<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        {include file="public/head" /}
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            欢迎来到淘多多商城！
                            <img src="/static/upload/admin/welcome.png"   />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>