<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        {include file="public/head" /}
    </head>
        <body>
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body ">
                                <blockquote class="layui-elem-quote">欢迎管理员：
                                    <span class="x-red">{$username}</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">数据统计</div>
                            <div class="layui-card-body ">
                                <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                    <li class="layui-col-md2 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>商品数</h3>
                                            <p>
                                                <cite>{$item_amount}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-md2 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>订单数</h3>
                                            <p>
                                                <cite>{$order_amount}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-md2 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>会员数</h3>
                                            <p>
                                                <cite>{$user_amount}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-md2 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>促销数</h3>
                                            <p>
                                                <cite>{$sale_amount}</cite></p>
                                        </a>
                                    </li>
                                    <li class="layui-col-md2 layui-col-xs6">
                                        <a href="javascript:;" class="x-admin-backlog-body">
                                            <h3>管理员数</h3>
                                            <p>
                                                <cite>{$admin_amount}</cite></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">开发团队</div>
                            <div class="layui-card-body ">
                                <table class="layui-table">
                                    <tbody>
                                        <tr>
                                            <th>开发者</th>
                                            <td>郑彤(2001210557@stu.pku.edu.cn)</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
            </div>
            </div>
        </body>
    </html>